table {
    text-align: center;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;

}

tbody {
    text-align: center;
}

tr {
    text-align: center;
}

th {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

button {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}